.sidebar {
  background-color: #f7f7f7;
  width: 200px;
  min-width: 200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: all 300ms ease;
}

.sidebar__overlay {
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3a4649;
    transition: opacity .4s ease 0s;
    z-index: 10;
    opacity: .65;
    pointer-events: auto;
}

.sidebar__overlay--hidden {
  opacity: 0;
  pointer-events: none;
}

.sidebar__logo {
  padding: 24px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
}

.sidebar__logo--img {
  width: 100%;
  max-width: 160px;
  height: auto;
}

.sidebar__menu {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.sidebar__link--wrapper {
  padding: 16px 24px;
  display: flex;
  align-items: center;
  color: #6b757b;
  font-size: 16px;
  cursor: pointer;
  transition: all 200ms ease;
  position: relative;
  text-decoration: none;
}

.sidebar__link--wrapper:hover {
  background-color: #f0f0f0;
}

.sidebar__link--active {
  background-color: #fff;
  color: #032b41;
}

.sidebar__link--active .sidebar__link--icon {
  color: #2bd97c;
}

.sidebar__link--line {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 4px;
  background-color: #2bd97c;
  display: none;
}

.sidebar__link--active .sidebar__link--line {
  display: block;
}

.sidebar__link--icon {
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.sidebar__link--text {
  font-weight: 500;
}

.sidebar__link--icon svg {
  width: 100%;
  height: 100%;
}

.sidebar__bottom {
  margin-bottom: 24px;
}
